.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);  
    z-index: 1000;
  }
  
  .modal {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    width: 80%;
    max-width: 500px;
  }
  
  .modal-close-button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 2em;
    position: absolute;
    right: 5px;
    top: 0;
    color: #247ad6;
    font-weight: bold;
  }